@charset "UTF-8";
/*css 초기화*/
* {
	margin: 0;
	pdding: 0;
}

body {
	line-height: 1.5;
	font-family: 'Jua', sans-serif;
	font-size: 16px;
	box-sizing: border-box !important;
}
/*/////////*/
#wrap {
	width: 100%;
	height: 100%;
}

#header {
	width: 100%;
	height: auto;
	position: fixed;
	background-color: #fff;
	z-index: 11;
}

#content {
	width: 100%;
	height: auto;
	padding-top: 60px;
}

/* masonry */

.bucket_list_item {
	margin: 0 0 20px 20px;
	float:left;
	width: 17%;
	border: 2px solid solid;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.bucket_list_item img {
	height: 70%;
	width: 100%;
}

.bucket_list_item p {
	height: 30%;
	widht: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px 0 0 5px;
}

/* 버킷리스트 작성페이지 css */
#column2 .control input{
	margin:20px 0 20px 0;
}

.control .button.is-rounded{
	float:right;
}

.tag_button{
	position:absolute;
	right:0;
	background-image: url("../image/plus.png");
	background-repeat:no-repeat;
}

.control_tag_content{
	display:none;
	color:red;
}

input[name="tag"]{
	margin-right:10px;
	margin-bottom:10px;
	width:31%;
}

